<section class="section section--slider">
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/ELDENRING CONTAINER.jpg"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">Juego 1</span>
        </div>
    </div>
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/GODCCONTAINER.jpg"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">GOD</span>
        </div>
    </div>
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/HORIZONCONTAINER.jpg"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">HORIZON</span>
        </div>
    </div>
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/injusticeCONTAINER.jpg"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">Injustice 2</span>
        </div>
    </div>
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/Bloodbornecontainer.avif"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">BLOODBORNE</span>
        </div>
    </div>
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/GODCCONTAINER.jpg"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">GOD</span>
        </div>
    </div>
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/HORIZONCONTAINER.jpg"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">HORIZON</span>
        </div>
    </div>
    <div class="section--slider_img-container">
        <img
            class="section--slider_img"
            src="/images/products/Bloodbornecontainer.avif"
            alt=""
        />
        <div class="icon-overlay">
            <span class="icon">🎮</span>
            <span class="text">BLOODBORNE</span>
        </div>
    </div>
</section>