<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lab Gaming - Marketplace</title>
		<link rel="stylesheet" href="/styles/stylesDefault.css" />
		<link rel="stylesheet" href="/styles/stylesprin.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
	</head>

	<body>
		<div class="max-width">
			<!-- Barra de navegaci칩n -->
			<%- include('./partials/header.ejs') %>

			<main class="main">
				
				<%- include('./partials/slider.ejs') %>

				<!-- Secci칩n de destacados -->
				<section class="destacados">
					<div class="destacadosTitulo">
						<h1>Destacados de Lab Gaming</h1>
						<img
							src="/images/products/logo.png"
							class="logo-body"
						/>
					</div>
					<div class="juegos">
						<div class="juego">
							<img
								src="/images/products/spidermanCard.jfif"
								alt="Spiderman 2"
							/>
							<h2>Spiderman 2</h2>
							<p>$210,000 COP</p>
							<div class="div-button">
								<a href="#" class="button">Comprar</a>
							</div>
						</div>
						<div class="juego">
							<img
								src="/images/products/fc25Card.jfif"
								alt="FC 25"
							/>
							<h2>FC 25</h2>
							<p>$150,000 COP</p>
							<div class="div-button">
								<a href="#" class="button">Comprar</a>
							</div>
						</div>
						<div class="juego">
							<img
								src="/images/products/eldenCard.jfif"
								alt="Elden Ring"
							/>
							<h2>Elden Ring</h2>
							<p>$270,000 COP</p>
							<div class="div-button">
								<a href="#" class="button">Comprar</a>
							</div>
						</div>
						<div class="juego">
							<img
								src="/images/products/injusticeCard.jfif"
								alt="Injustice 2"
							/>
							<h2>Injustice 2</h2>
							<p>$90,000 COP</p>
							<div class="div-button">
								<a href="#" class="button">Comprar</a>
							</div>
						</div>
					</div>
				</section>

				<section class="novedades">
					<div class="novedadesTitulo">
						<h1>Novedades de Lab Gaming</h1>
						<img
							src="/images/products/logo.png"
							class="logo-body"
						/>
					</div>
					<div class="dobleContainer">
						<div class="juegos2">
							<div class="juego2">
								<img
									src="/images/products/fc25Card.jfif"
									alt="FC 25"
								/>
								<h2>FC 25</h2>
								<p>$150,000 COP</p>
								<div class="div-button">
									<a href="#" class="button">Comprar</a>
								</div>
							</div>
							<div class="juego2">
								<img
									src="/images/products/eldenCard.jfif"
									alt="Elden Ring"
								/>
								<h2>Elden Ring</h2>
								<p>$270,000 COP</p>
								<div class="div-button">
									<a href="#" class="button">Comprar</a>
								</div>
							</div>
							<div class="juego2">
								<img
									src="/images/products/injusticeCard.jfif"
									alt="Injustice 2"
								/>
								<h2>Injustice 2</h2>
								<p>$90,000 COP</p>
								<div class="div-button">
									<a href="#" class="button">Comprar</a>
								</div>
							</div>
						</div>
						<div class="juegos3">
							<h2 class="titulo">Juegos gratis</h2>
							<p>Explora juegos gratis de nuestra colecci칩n.</p>
							<div class="juego3">
								<img
									src="/images/products/fc25Card.jfif"
									alt="FC 25"
								/>
								<h2>FC 25</h2>
								<p>$150,000 COP</p>
								<div class="div-button">
									<a href="#" class="button">Comprar</a>
								</div>
							</div>
							<div class="juego3">
								<img
									src="/images/products/eldenCard.jfif"
									alt="Elden Ring"
								/>
								<h2>Elden Ring</h2>
								<p>$270,000 COP</p>
								<div class="div-button">
									<a href="#" class="button">Comprar</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>

			<!-- Pie de p치gina -->
			<%- include('./partials/footer.ejs') %>
		</div>
	</body>
</html>
