<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab Gaming - Marketplace</title>
  <link rel="stylesheet" href="../public/styles/stylesDefault.css">
  <link rel="stylesheet" href="../public/styles/stylesprin.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
  <div class="max-width-1400px">
  <!-- Barra de navegación -->
    <header>
      <nav>
        <div class="logo">
        <img src="../public/images/products/logo.png" class="logo-img">
          LAB GAMING
        </div>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Categorías</a></li>
          <li><a href="#">Contacto</a></li>
          <li>
            <input type="text" placeholder="Buscar...">
            <a href="#">
              <i class="fas fa-search"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="section section--slider">
        <div class="section--slider_img-container">
            <img class="section--slider_img" src="../public/images/products/ELDENRING CONTAINER.jpg" alt="">
            <div class="icon-overlay">
                <span class="icon">🎮</span>
                <span class="text">Juego 1</span>
            </div>
        </div>
        <div class="section--slider_img-container">
            <img class="section--slider_img" src="../public/images/products/GODCCONTAINER.jpg" alt="">
            <div class="icon-overlay">
                <span class="icon">🎮</span>
                <span class="text">GOD</span>
            </div>
        </div>
        <div class="section--slider_img-container">
            <img class="section--slider_img" src="../public/images/products/HORIZONCONTAINER.jpg" alt="">
            <div class="icon-overlay">
                <span class="icon">🎮</span>
                <span class="text">HORIZON</span>
            </div>
        </div>
        <div class="section--slider_img-container">
          <img class="section--slider_img" src="../public/images/products/injusticeCONTAINER.jpg" alt="">
          <div class="icon-overlay">
              <span class="icon">🎮</span>
              <span class="text">Injustice 2</span>
          </div>
        </div>
        <div class="section--slider_img-container">
          <img class="section--slider_img" src="../public/images/products/Bloodbornecontainer.avif" alt="">
          <div class="icon-overlay">
              <span class="icon">🎮</span>
              <span class="text">BLOODBORNE</span>
          </div>
        </div>
        <div class="section--slider_img-container">
          <img class="section--slider_img" src="../public/images/products/GODCCONTAINER.jpg" alt="">
          <div class="icon-overlay">
              <span class="icon">🎮</span>
              <span class="text">GOD</span>
          </div>
        </div>
        <div class="section--slider_img-container">
            <img class="section--slider_img" src="../public/images/products/HORIZONCONTAINER.jpg" alt="">
            <div class="icon-overlay">
                <span class="icon">🎮</span>
                <span class="text">HORIZON</span>
            </div>
        </div>
        <div class="section--slider_img-container">
          <img class="section--slider_img" src="../public/images/products/Bloodbornecontainer.avif" alt="">
          <div class="icon-overlay">
              <span class="icon">🎮</span>
              <span class="text">BLOODBORNE</span>
          </div>
        </div>
      </section>


      <!-- Sección de destacados -->
      <section class="destacados">
        <div class="destacadosTitulo">
          <h1>Destacados de Lab Gaming</h1> <img src="../public/images/products/logo.png" class="logo-body">
        </div>
          <div class="juegos">
          <div class="juego">
            <img src="../public/images/products/spidermanCard.jfif" alt="Spiderman 2">
            <h2>Spiderman 2</h2>
            <p>$210,000 COP</p>
            <div class="div-button">
              <a href="#" class="button">Comprar</a>
            </div>
          </div>
          <div class="juego">
            <img src="../public/images/products/fc25Card.jfif" alt="FC 25">
            <h2>FC 25</h2>
            <p>$150,000 COP</p>
            <div class="div-button">
              <a href="#" class="button">Comprar</a>
            </div>
          </div>
          <div class="juego">
            <img src="../public/images/products/eldenCard.jfif" alt="Elden Ring">
            <h2>Elden Ring</h2>
            <p>$270,000 COP</p>
            <div class="div-button">
              <a href="#" class="button">Comprar</a>
            </div>
          </div>
          <div class="juego">
            <img src="../public/images/products/injusticeCard.jfif" alt="Injustice 2">
            <h2>Injustice 2</h2>
            <p>$90,000 COP</p>
            <div class="div-button">
              <a href="#" class="button">Comprar</a>
            </div>
          </div>
        </div>
      </section>

      <section class="novedades">
        <div class="novedadesTitulo">
          <h1>Novedades de Lab Gaming</h1> <img src="../public/images/products/logo.png" class="logo-body">
        </div>
        <div class="dobleContainer">
          <div class="juegos2">
          
              <div class="juego2">
                <img src="../public/images/products/fc25Card.jfif" alt="FC 25">
                <h2>FC 25</h2>
                <p>$150,000 COP</p>
                <div class="div-button">
                  <a href="#" class="button">Comprar</a>
                </div>
              </div>
              <div class="juego2">
                <img src="../public/images/products/eldenCard.jfif" alt="Elden Ring">
                <h2>Elden Ring</h2>
                <p>$270,000 COP</p>
                <div class="div-button">
                  <a href="#" class="button">Comprar</a>
                </div>
              </div>
              <div class="juego2">
                <img src="../public/images/products/injusticeCard.jfif" alt="Injustice 2">
                <h2>Injustice 2</h2>
                <p>$90,000 COP</p>
                <div class="div-button">
                  <a href="#" class="button">Comprar</a>
                </div>
              </div>
            </div>
          <div class="juegos3">
            <h2 class="titulo">Juegos gratis</h2>
            <p>Explora juegos gratis de nuestra colección.</p>
            <div class="juego3">
              <img src="../public/images/products/fc25Card.jfif" alt="FC 25">
              <h2>FC 25</h2>
              <p>$150,000 COP</p>
              <div class="div-button">
                <a href="#" class="button">Comprar</a>
              </div>
            </div>
            <div class="juego3">
              <img src="../public/images/products/eldenCard.jfif" alt="Elden Ring">
              <h2>Elden Ring</h2>
              <p>$270,000 COP</p>
              <div class="div-button">
                <a href="#" class="button">Comprar</a>
              </div>
            </div>
            </div>
        </div>
      </section>
    </main>
    
    <!-- Pie de página -->
    <footer>
      <div class="footer-container">
        <div class="footer-column">
          <h3>Categorías</h3>
          <!-- Agrega enlaces o categorías aquí -->
        </div>
        <div class="footer-column">
          <h3>Contacto</h3>
          <p>300 000 0000</p>
          <p>pslabgaming@gmail.com</p>
        </div>
        <div class="footer-column">
          <h3>Euipo de Trabajo</h3>
          <div class="social-icons">
            <!-- Ícono de GitHub del usuario 1 -->
            <a href="https://github.com/Juankos0714" target="_blank" aria-label="GitHub Usuario 1">
              <i class="fa-brands fa-github"></i> Juankos0714
            </a>
            <!-- Ícono de GitHub del usuario 2 -->
            <a href="https://github.com/Miguel-A-VN" target="_blank" aria-label="GitHub Usuario 2">
              <i class="fa-brands fa-github"></i> Miguel-A-VN
            </a>
            <!-- Ícono de GitHub del usuario 3 -->
            <a href="https://github.com/SebasCorrea23" target="_blank" aria-label="GitHub Usuario 3">
              <i class="fa-brands fa-github"></i> SebasCorrea23
            </a>
            <!-- Ícono de GitHub del usuario 4 -->
            <a href="https://github.com/Nicolasld222" target="_blank" aria-label="GitHub Usuario 4">
              <i class="fa-brands fa-github"></i> Nicolasld222
            </a>
            <!-- Ícono de GitHub del usuario 5 -->
            <a href="https://github.com/megas123" target="_blank" aria-label="GitHub Usuario 5">
              <i class="fa-brands fa-github"></i> megas123
            </a>
          </div>
        </div>
      </div>
      <p class="footer-credits">
        Todas las marcas registradas pertenecen a sus respectivos dueños en EE. UU. y otros países. Todos los precios incluyen IVA (donde sea aplicable).
      </p>
    </footer>
  </div>  
</body>

</html>