<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lab Gaming - Marketplace</title>
		<link rel="stylesheet" href="/styles/stylesDefault.css" />
		<link rel="stylesheet" href="/styles/stylesprin.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
	</head>

	<body>
		<div class="max-width">
<header>
    <nav>
        <div class="logo">
            <img
                src="/images/products/logo.png"
                class="logo-img"
            />
            LAB GAMING
        </div>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/catalogo">Categorías</a></li>
            <li><a href="#footer">Contacto</a></li>
            <li><a href="#">registrse</a></li>
            <li><a href="#">Contacto</a></li>
            <li>
                <input type="text" placeholder="Buscar..." />
                <a href="#">
                    <i class="fas fa-search"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>