  header {
    background: var(--secondary-background);
    color: white;
    border-bottom: 2px solid #3ecdef;
    padding: 10px 15px;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    list-style: none;
    font-family: "Orbitron", sans-serif;
    display: flex;
    gap: 50px;
  }

  header ul li a {
    color: white;
    text-decoration: none;
  }

  header input {
    width: 0;
    position: relative;
    bottom: 3px;
    outline: none;
    border: none;
    font-weight: 400;
    transition: 1.2s;
    background: transparent;
    border-radius: 20px;
    color: #fff;
    padding: 6px 0px 0px 5px;
    font-size: 14px;
  }

  header:hover input {
    width: 300px;
    color: #fff;
    border: 1px solid #fff;
  }

  header a.fas {
    background-color: #fff;
    position: relative;
    bottom: 15px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }


  .section--slider {
    display: inline-block;
    max-width: max-content;
    height: 220px;
    margin: 0 auto;
    white-space: nowrap;
    position: relative;
  }

  .section--slider_img-container {
    position: relative;

    flex: 0 0 auto;
    flex-shrink: 0;
    transition: 0.5s ease;
  }

  .section--slider_img {
    width: 338px;
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.7s ease, width 1s ease;
  }

  .section--slider_img-container:hover .section--slider_img {
    width: 380px;
    /* Expande la imagen al hacer hover */
    opacity: 1;
    cursor: pointer;
    z-index: 1;
  }

  .icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    opacity: 1;
    /* Mantener visible el icono siempre */
    transition: opacity 0.3s ease;
  }

  .icon {
    font-size: 40px;
    /* Tamaño del icono */
  }

  .text {
    display: none;
    margin-top: 10px;
    font-size: 18px;
  }

  /* Al hacer hover sobre el contenedor de la imagen, ocultamos el icono y mostramos el texto */
  .section--slider_img-container:hover .icon-overlay .icon {
    display: none;
  }

  .section--slider_img-container:hover .icon-overlay .text {
    display: block;
  }

  .section--slider {
    display: flex;
    animation: slide 45s infinite;
  }

  /* Animación de deslizamiento */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
      /* Mueve todas las imágenes */
    }
  }

  .main_section {
    width: 80%;
  }

  .section_titulo {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .juegos {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 20px;
    border-radius: 20px;
    padding: 40px 20px;
    max-height: 400px;
    background-color: var(--sections-bg);
    overflow-x: scroll;
  }
  
  .juego {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 auto;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    background-color: var(--secondary-background);
    min-height: 300px;
    transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
  }

  .novedadesTitulo {
    width: 100%;
  }
  .main_section--novedades {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }

  .section_aside {
    width: 35%;
    background-color: var(--sections-bg);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow: hidden;
    padding: 10px;

    .top {
      width: 100%;
      padding-bottom: 10px;
    }

    .juegos {
      flex-direction: column;
      overflow-y: scroll;

    }

    .juego{
      flex-direction: row;
      width: 100%;
      min-height: 100px;
    }

  }

  .juegos-novedades {
    width: 60%;
  }




  footer {
    background: var(--secondary-background);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 50px;
  }

  .footer-column {
    flex: 1;
    text-align: center;
  }

  .footer-column h3 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .footer-column p,
  .footer-column a {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    color: white;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .social-icons a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1px;
    transition: color 0.3s, transform 0.3s;
  }

  .social-icons a:hover {
    color: #ffcc00;
    transform: scale(1.1);
  }



  .footer-credits {
    font-size: 12px;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    opacity: 0.8;
  }