<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista de Detalle del Producto</title>
  <link rel="stylesheet" href="./detailOfProduct.css">
</head>
<body>
<div class="max-width-1400px" id="particle-container">
  <header>

  </header>

  <main>
    <section class="product-detail" id="product-detail">

      <div class="blurred-background" id="blurred-background"></div>

      <article class="product-info">
        
        <h2 id="product-title">Juego</h2>

        <div class="description-and-price">
          <p>Precio: $59.99</p>
          <p>Requisitos: Windows 10, 8 GB RAM, etc.</p>
          <p>Descripción: Un juego increíble que...</p>
        </div>

        <button id="buy-button" type="button">BUY NOW</button>

      </article>

      <div class="product-image" id="product-image">
        <img src="Valorant.jpg" alt="Imagen del Juego" id="div_product-image" width="100%">
      </div>
      
    </section>

    <section class="additional-info">

      <h2 id="more-info-title">Más información del juego</h2>
      <p>Este juego</p>
    </section>

  </main>

  <footer>

  </footer>
</div>
</body>
<script src="./detailOfProduct.js" defer></script>
</html>
